services:
  service-a:
    container_name: service-a-container
    build:
      context: ./service_a
    environment:
      NODE_ENV: production
    ports:
      - 8080:8080
    depends_on:
      mysql:
        condition: service_healthy
        restart: true
    develop:
      watch:
        - action: rebuild
          path: .
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:8080/health" ]
      interval: 30s
      timeout: 10s
      retries: 3
          
  service-b:
    container_name: service-b-container
    build:
      context: ./service_b
    environment:
      NODE_ENV: production
    ports:
      - 8090:8080
    develop:
      watch:
        - action: rebuild
          path: .
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:8090/health" ]
      interval: 30s
      timeout: 10s
      retries: 3

  mysql:
    image: mysql:latest
    container_name: mysql-container
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: pass
      MYSQL_DATABASE: weather_db
      MYSQL_USER: weather_db_user
      MYSQL_PASSWORD: pass
    ports:
      - 3306:3306
    volumes:
      - mysql-data:/var/lib/mysql
      - ./mysql-init-files/init.sql:/docker-entrypoint-initdb.d/1.sql
    healthcheck:
      test: ["CMD", "mysqladmin" ,"ping", "-h", "localhost"]
      timeout: 20s
      retries: 10

  phpmyadmin:
    image: phpmyadmin
    container_name: phpmyadmin-container
    restart: always
    environment:
      PMA_HOST: mysql
    ports:
      - 8888:80
    depends_on:
      mysql:
        condition: service_healthy
        restart: true
        
volumes:
  mysql-data:    
    